body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-content: center;
	padding: 0 1rem;

	border-top: 0.5rem solid #eee;

	> header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		padding: 1rem 0;

		width: 75vw;
	}

	> :is(main, footer) {
		max-width: 80ch;
		margin: 0 auto;
	}
}

.logo {
	margin: 0;

	font-size: 1.25rem;
	line-height: normal;

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
	display: flex;
	gap: 1rem;

	a {
		color: gray;
		text-decoration: none;

		&:active {
			color: black;
		}
	}
}

:is(a, a:visited) {
	color: hotpink;
}

code {
	font-size: 1rem;

	background-color: color-mix(in srgb, hotpink, transparent 85%);
}
